@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}


/* MENU MOVIL */

.menu{
    background: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: cambiaColormenu 2s infinite;
}
@keyframes cambiaColormenu {
  0% { background-color: rgb(0, 20, 85); }
  25% { background-color: rgb(8, 8, 63); }
  50% { background-color: rgb(19, 7, 128); }
  75% { background-color: rgb(77, 63, 199); }
  100% { background-color: rgb(13, 8, 78); }
}
.menu ul{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
}

.menu ul li a i{
    font-size: 25px;
    color: var(--color-icon);
}

.menu ul li a i:hover{
    color: var(--color-primary);
    transition: color 0.5s ease-in-out;
}

/* ***************************************************************************************************************** */



.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "logo burger"
    ;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    animation: cambiaColor 2s infinite;
}
@keyframes cambiaColor {
  0% { background-color: rgb(0, 20, 85); }
  25% { background-color: rgb(8, 8, 63); }
  50% { background-color: rgb(19, 7, 128); }
  75% { background-color: rgb(77, 63, 199); }
  100% { background-color: rgb(13, 8, 78); }
}

.logo, .burger{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    grid-area: logo;
    gap: 10px;
    
}

.logo h1{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: "SF-Pro-Text-Bold";
    color: #fff;

}

.burger{
    grid-area: burger;
    justify-content: flex-end;
}

.logo i, .burger i{
    font-size: 24px;
    color: #fff;
}

/* **************************************************************************************************** */

.container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 25px;
    background-image: url(../storage/img/Bakcground.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 87vh;
}
.banner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner__title {
    margin-top: 25px;
    padding: 10px 0;
}

.carusel__title,
.banner__title h3 {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
    color: #fff;
    background-color: rgba(3, 3, 19, 0.616);
    display: inline-block;
    animation: moveAndChangeColor 3s infinite alternate;
    border-radius: 100px;
  }
  
@keyframes moveAndChangeColor {
  0% {
    transform: translateX(0);
    color: #3498db;
  }
  50% {
    transform: translateX(50px);
    color: #e74c3c;
  }
  100% {
    transform: translateX(0);
    color: #3498db;
  }
}


.banner__publicidad{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__logo img{
    /* padding: 15px; */
    height: 130px;
}
.banner__card{
    width: 94vw;
    height: 130px;
    background: var(--color-ternario);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: var(--color-shado-transparent);
}
.banner__data{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    position: relative;
    background-color: rgba(151, 11, 6, 0.767);
}
.banner__data strong{
    font-family: "SF-Pro-Text-Bold";
    animation: changeColor 5s infinite;
}
.banner__data small{
    font-family: "SF-Pro-Text-Regular";
    animation: changeColors 5s infinite;
}

@keyframes changeColor {
  0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  75% { color: orange; }
  100% { color: purple; }
}

@keyframes changeColors {
  0% { color: red; }
  25% { color: black; }
  50% { color: white; }
  75% { color: yellow; }
  100% { color: blue; }
}

.banner__close{
    position: absolute;
    background: var(--color-primary);
    border: none;
    color: var(--color-ternario);
    width: 25px;
    height: 25px;
    top: 5px;
    right: 10px;
    border-radius: 100%;
    background: rgb(69, 69, 235);
}
.banner__more{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-family: "SF-Pro-Text-Bold";
    font-size: .8rem;
    color: var(--color-ternario);
    padding: 5px;
    background: rgb(59, 59, 151);
    animation: growAndShrink 2s infinite;
}

@keyframes growAndShrink {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2); /* Puedes ajustar el factor de escala según tus preferencias */
  }
  100% {
      transform: scale(1);
  }
}

/* ************************************************************************************************************** */

[data-card]::before {
    content: attr(data-card);
    color: var(--color-primary);
    font-family: "SF-Pro-Text-Bold";
}


.carusel__card {
    width: 95vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.carusel__img {
    min-width: 100%;
    min-height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-ternario);
}


.carusel__img img {
    bottom: 20px;
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.carusel__img h2 {
    position: absolute;
    color: var(--color-ternario);
}

/* ***********************************************************PROFILE************************************************************************ */

.banner_2{
    background: var(--color-secundary);
    position: absolute;
    z-index: -10;
}

.banner_2 img{
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.profile{
  
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    gap: 20px;
}



.profile__activities{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 10px;
    bottom: 50px;
    height: 100vh;
}

/* .profile__activities:active{
    height: 85vh;
} */

.profile__balance{
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.profile__titule{
    /* background: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform:  capitalize;
    color: var(--color-ternario);
  }
  
  @keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
  }


.profile__titule h3{
    font-size: 2em;
    font-family: "SF-Pro-Text-Heavy.otf";
    animation: changeColors_profileh3 5s infinite;
}
@keyframes changeColors_profileh3 {
  0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  75% { color: orange; }
  100% { color: purple; }
}


.profile__titule p{
    font-size: 2.3em;
    font-family: "SF-Pro-Text-Regular";
    animation: changeColors_profilep 5s infinite;
}
@keyframes changeColors_profilep {
  0% { color: rgb(141, 0, 0); }
  25% { color: rgb(16, 16, 46); }
  50% { color: white; }
  75% { color: rgb(18, 31, 156); }
  100% { color: rgb(185, 110, 185); }
}

.profile__process{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    color: var(--color-ternario);
}

.profile__savings, .profile__assets{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.profile__savings small,
.profile__assets small{
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 5px;
}

.profile__savings label,
.profile__assets label{
    font-family: "SF-Pro-Text-Semibold";
    font-size: 1.3em;
}

.profile__savings progress,
.profile__assets progress{
    width: 100%;
}

.profile__savings progress[value] {
    --color: var(--color-primary);
    --background: var(--color-ternario);
    background: var(--background);
}

.profile__assets progress[value] {
    --color: var(--color-cuarto);
    --background: var(--color-ternario);
    background: var(--background);
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: .5em;
    border-radius: 10em;
}

.profile__savings progress[value]::-webkit-progress-bar,
.profile__assets progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    height: .5em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

*************************************************************************

.activities__title h3,
.transactions__title h3{
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: "SF-pro-Text-Bold";
    
}

.transactions__title{
  color: blue;
  animation: changeColors_transactionstile 5s infinite;
}

@keyframes changeColors_transactionstile {
  0% { color: rgb(218, 104, 104); }
  25% { color: rgb(144, 144, 196); }
  50% { color: rgb(99, 187, 27); }
  75% { color: rgb(18, 31, 156); }
  100% { color: rgb(154, 218, 4); }
}

.transactions__title h3{
  color: orange;
  animation: changeColors_transactionsh3 5s infinite;
}
@keyframes changeColors_transactionsh3 {
  0% { color: rgb(194, 39, 39); }
  25% { color: rgb(32, 32, 245); }
  50% { color: rgb(255, 251, 0); }
  75% { color: rgb(194, 195, 202); }
  100% { color: rgb(255, 2, 255); }
}

.activities__title h4{
  color: #fff;
}


.activities__carusel__card {
    width: 95vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.activities__carusel__img {
    min-width: 30%;
    min-height: 19vh;
    box-shadow: var(--color-shado-transparent);
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-secundary);
    margin: 15px 0;
    background: rgb(39, 21, 21);
    animation: changeColors_activities_Carusel_img 5s infinite;
}
@keyframes changeColors_activities_Carusel_img {
  0% { color: rgb(194, 39, 39); }
  25% { color: rgb(32, 32, 245); }
  50% { color: rgb(255, 251, 0); }
  75% { color: rgb(194, 195, 202); }
  100% { color: rgb(255, 2, 255); }
}

.activities__carusel__img small,
.activities__carusel__img h4 {
    position: absolute;
}

.activities__carusel__img i {
    font-size: 2.5em;
}

.activities__carusel__img h4 {
    bottom: 20px;
}

/* ***************************************************************** */


.transactions{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.transactions__balance{
    /* background: red; */
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 55vh;
    overflow-y: scroll;
}

.transactions__carucel{
    /* background: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.transactions__description{
    /* background: green; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.transactions__up,
.transactions__down{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    color: var(--color-primary);
}

.transactions__down{
    color: var(--color-secundary);
}

.transactions__description i{
    font-size: 1.8em;
}


.transactions__description div p,
.transactions__value p{
    font-family: "SF-Pro-Text-Semibold";
    text-transform: capitalize;
    
}

.transactions__description div small,
.transactions__value small{
    color: var(--color-cuarto);
    font-family: "SF-Pro-Text-Light";
    text-transform: capitalize;
}

/* **********************************************************************************BALANCE******************************************************************** */

.contenedor {
    position: absolute;
    width: 360px;
    height: 200px;
    margin: 0px 0px;
    overflow: hidden;
    background-color: black;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom: 2px solid blue;
  }
  
  .caja1 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(132, 48, 211, 0.096);
    border-radius: 50%;
    transform-origin: center;
    animation: moverCaja 15s linear infinite;
  }
  
  @keyframes moverCaja {
    23% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(200px, 0) rotate(90deg);
    }
    100% {
      transform: translate(200px, 200px) rotate(180deg);
    }
    25% {
      transform: translate(0, 200px) rotate(270deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  
  .caja2 {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: rgba(132, 48, 211, 0.096);
      border-radius: 50%;
      transform-origin: center;
      animation: moverCaja2 15s linear infinite;
    }
    
    @keyframes moverCaja2 {
      50% {
        transform: translate(0, 0) rotate(0deg);
      }
      20% {
        transform: translate(200px, 0) rotate(90deg);
      }
      85% {
        transform: translate(200px, 200px) rotate(180deg);
      }
      25% {
        transform: translate(0, 200px) rotate(270deg);
      }
      100% {
        transform: translate(0, 0) rotate(360deg);
      }
    }
  
    .caja3 {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: rgba(132, 48, 211, 0.096);
      border-radius: 50%;
      transform-origin: center;
      animation: moverCaja3 15s linear infinite;
    }
    
    @keyframes moverCaja3 {
      70% {
        transform: translate(0, 0) rotate(0deg);
      }
      10% {
        transform: translate(200px, 0) rotate(90deg);
      }
      55% {
        transform: translate(200px, 200px) rotate(180deg);
      }
      65% {
        transform: translate(0, 200px) rotate(270deg);
      }
      100% {
        transform: translate(0, 0) rotate(360deg);
      }
    }
  
    .caja4 {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: rgba(132, 48, 211, 0.096);
      border-radius: 50%;
      transform-origin: center;
      animation: moverCaja4 15s linear infinite;
    }
    
    @keyframes moverCaja4 {
      20% {
        transform: translate(0, 0) rotate(0deg);
      }
      14% {
        transform: translate(200px, 0) rotate(90deg);
      }
      70% {
        transform: translate(200px, 200px) rotate(180deg);
      }
      32% {
        transform: translate(0, 200px) rotate(270deg);
      }
      100% {
        transform: translate(0, 0) rotate(360deg);
      }
    }
  
    .caja5 {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: rgba(132, 48, 211, 0.096);
      border-radius: 50%;
      transform-origin: center;
      animation: moverCaja5 15s linear infinite;
    }
    
    @keyframes moverCaja5 {
      10% {
        transform: translate(0, 0) rotate(0deg);
      }
      90% {
        transform: translate(200px, 0) rotate(90deg);
      }
      25% {
        transform: translate(200px, 200px) rotate(180deg);
      }
      55% {
        transform: translate(0, 200px) rotate(270deg);
      }
      70% {
        transform: translate(0, 0) rotate(360deg);
      }
    }
  
    .caja6 {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: rgba(132, 48, 211, 0.096);
      border-radius: 50%;
      transform-origin: center;
      animation: moverCaja6 15s linear infinite;
    }
    
    @keyframes moverCaja6 {
      5% {
        transform: translate(0, 0) rotate(0deg);
      }
      30% {
        transform: translate(200px, 0) rotate(90deg);
      }
      48% {
        transform: translate(200px, 200px) rotate(180deg);
      }
      62% {
        transform: translate(0, 200px) rotate(270deg);
      }
      90% {
        transform: translate(0, 0) rotate(360deg);
      }
    }
  
    /* ********************************************************************************************** */
  
    .Circulo{
      position: absolute;
      background: #333b06;
      width: 200px;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
        height: 200px;
      align-items: center;
      color: #FFFFFF;
      gap: 10px;
      margin-left: 21%;
      margin-top: 20%;
      border: 2px solid blue;
    }

    .Circulo p{
      animation: changeColors_balance 5s infinite;
      font-weight: bold;
    }
    
    @keyframes changeColors_balance {
      0% { color: red; }
      25% { color: blue; }
      50% { color: green; }
      75% { color: orange; }
      100% { color: purple; }
    } 
  
  
    .Circulo img{
      width: 80%;
      height: 15%;
    }
  

  
    .Botones{
      position: absolute;
      display: flex;
      flex-direction: row;
      color: #00DDA3;
      margin-top: 80%;
      margin-left: 4%;
      gap: 30px;
    }
  
    .Botones button{
      background: black;
      padding: 10px;
      border: 1px solid #00DDA3;
      border-radius: 20px;
      width: 90px;
      color: #00DDA3;
    }
  
    .Botones button:hover{
      background: #33404F;
    }
  
    .IMAGEN_results{
      position: relative;
    }
  
   .IMAGEN_results img{
    max-width: 80%;
    height: 10%;
    margin-top: 95%;
    margin-left: 10%;
   }

   .balance__{
    background-image: url(../storage/img/R.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   }
