<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALANCE</title>
    <script src="js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <header class="header">
        <div class="logo">
            <i class='bx bx-money-withdraw'></i>
            <h1>inveto</h1>
        </div>
        <div class="burger">
            <i class='bx bx-align-middle'></i>
        </div>
    </header>
    <nav class="menu">
        <ul>
            <li>
                <a href="#"><i class='bx bx-home'></i></a>
            </li>
            <li>
                <a href="#"><i class='bx bx-book-bookmark'></i></a>
            </li>
            <li>
                <a href="../index.html"><i class='bx bx-grid-alt'></i></a>
            </li>
            <li>
                <a href="#"><i class='bx bx-bell'></i></a>
            </li>
            <li>
                <a href="profile.html"><i class='bx bx-user-circle'></i></a>
            </li>
        </ul>
    </nav>
    <div class="contenedor">
        <div class="caja1"></div>
        <div class="caja2"></div>
        <div class="caja3"></div>
        <div class="caja4"></div>
        <div class="caja5"></div>
        <div class="caja6"></div>
      </div>
      <div class="Circulo">
        <img src="../storage/img/Frame3.png" alt="">
        <p>Total</p>
        <p>Balance</p>
        <p>$214,417</p>
      </div>
      <article class="Botones">
        <div class="Botones_boton1">
            <button>Accetc</button>
        </div>
        <div class="Botones_boton2">
            <button>Debt</button>
        </div>
        <div class="Botones_boton3">
            <button>Income</button>
        </div>
      </article>
      <article class="Vectores">
        <div class="Vectores_vector1">
            <img src="../storage/img/Vector6.png" alt="">
        </div>
        <div class="Vectores_vector1">
            <img src="../storage/img/Vector7.png" alt="">
        </div>
      </article>
      <article class="numero1">
        <p>$174</p>
      </article>
      <article class="numero2">
        <p>$451</p>
      </article>
      <article class="Ellipse23">
        <img src="../storage/img/Ellipse23.png" alt="">
      </article>
      <article class="Ellipse24">
        <img src="../storage/img/Ellipse 24.png" alt="">
      </article>
      <article class="Frame42">
        <img src="../storage/img/Frame 42.png" alt="">
      </article>
      <article class="Frame24">
        <img src="../storage/img/Frame 24.png" alt="">
      </article>
</body>
</html>